<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/CDN/Css/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CDN/Css/Theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CDN/Css/jquery-ui-lightness/jquery-ui-1.10.3.custom.css")" rel="stylesheet" type="text/css" />
    @RenderSection("CSSSection", false)
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
               <a href="/Home">Test Project</a>
            </div>

        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
    @Html.RenderScript("Lib/jquery-1.10.2.js")
    @Html.RenderScript("Lib/jquery.extend.js")
    <script src="@Url.Content("~/CDN/js/Lib/jquery-ui-1.10.3.custom.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/CDN/js/Common.js")" type="text/javascript"></script>
    @RenderSection("JSSection", false)
    
</body>
</html>
