@using MvcTest.Models;
@model List<SystemCatalog>
@{
    ViewBag.Title = "Home Page";
}
    <div>
        @{
            if (Model.Count > 0)
            {
                    @{
                        foreach(SystemCatalog group in Model)
                        {
                            <h2>@group.GroupName</h2>
                            foreach(SystemCatalogItem item in group.Item){
                            <ul>
                                <li><a href="@item.Url" target="@item.Target">@item.Name</a></li>
                            </ul>
                            }
                        }
                    }
            }
        }
    </div>
    @{Type type = Model.GetType().GetGenericArguments()[0];
        @type.ToString();
        string txt = "";
        if (Array.IndexOf(type.GetInterfaces(), typeof(System.Collections.IEnumerable)) > -1)
        {
            txt = "yes";
        }
        else
        {
            txt = "no";
        }
      }
      @txt
